@layer components {
    .blue-btn {
        @apply bg-blue-700 hover:bg-blue-600 disabled:bg-blue-400 disabled:cursor-not-allowed flex justify-center items-center text-white font-semibold rounded-lg px-2 sm:px-3 py-1 sm:py-2
    }

    .blue-outline {
        @apply bg-white text-blue-600 hover:bg-blue-600 hover:text-white border border-blue-600 rounded-xl disabled:bg-gray-200 disabled:cursor-not-allowed disabled:text-blue-500 flex justify-center items-center font-semibold px-2 sm:px-3 py-1 sm:py-2
    }

    .img-thumbnail {
        @apply w-full h-64 sm:h-72 md:h-96 object-cover rounded-xl
    }

    .sub-img-thumbnail {
        @apply w-full h-40 sm:h-56 md:h-72 object-cover rounded-xl
    }

    .main-header {
        @apply flex justify-between items-center w-full md:w-11/12 m-auto pa-10 t-nowrap
    }

    .main-header h2 {
        @apply r-text-3xl font-bold text-gray-900
    }

    .input {
        @apply text-normal-base text-gray-800 w-full border border-gray-600 py-1 sm:py-2 px-2 sm:px-3 rounded-md outline-none disabled:bg-slate-200
    }

    .label {
        @apply text-normal font-semibold text-gray-600
    }
    .error-message {
        @apply text-red-500 text-xs sm:text-sm h-3 sm:h-5
    }

    .password-icon {
        @apply text-blue-700 r-w-8 cursor-pointer
    }

    .loading{
        @apply r-text-2xl flex items-center justify-center text-gray-600
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #8a92ff89;
}

::-webkit-scrollbar-thumb {
    background: #4e81e0c1;
}

::-webkit-scrollbar-thumb:hover {
    background: #4d6bff;
}